@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  background-color: #191919;
  font-size: 48px;
}

.clock {
  color: #00ff97;
  font-family: "Roboto", sans-serif;
  font-size: 170px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.clock-time {
  margin-right: 70x;
}
.dayOfTheWeek {
  margin-left: 70px;
}
@media only screen and (width: 375px) {
  .clock {
    width: 100%;
    font-size: 70px;
    margin-left: 10px;
  }
}
