@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  margin: none;
  background-color: #191919;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
}

.clock {
  color: #00ff97;
  font-size: 170px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.clock-time {
  margin-right: 70x;
}
.dayOfTheWeek {
  color: #8a8a8a;
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
}
.Monday,
.Tuesday,
.Wednesday,
.Thursday,
.Friday,
.Saturday {
  margin-right: 50px;
}
@media only screen and (width: 375px) {
  .clock {
    width: 100%;
    font-size: 70px;
    margin-left: 10px;
  }
  .dayOfTheWeek {
    width: 100%;
  }
}
